@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label {
    @apply block text-xs font-normal mb-2;
  }
  .form-group {
    @apply px-2 mb-3.5 text-left;
  }
  .input-field {
    @apply w-full bg-customSlate-100  pl-4 py-1.5 pr-1.5 border border-solid border-customSlate-200 rounded-md h-8 focus:border-skyThin-50 transition-colors ease-in-out duration-300;
  }
  .main-btn {
    @apply tracking-[0.5px] uppercase font-bold text-xs text-center;
  }
  .hero-section {
    @apply relative md:absolute md:top-0 left-0 max-md:h-[70vh] md:h-full w-full;
  }
  .hero-section-after {
    @apply after:absolute after:w-full after:h-full after:top-0 after:left-0 after:bg-main-50 after:opacity-20;
  }
  .flex-col-responsive {
    @apply max-md:flex max-md:flex-col max-md:space-y-3;
  }
  .transition-btn {
    @apply hover:bg-gradient-ar-hover-btn transition-all ease-in duration-300;
  }
  .rounded-hover-btn {
    @apply rounded-md hover:[transform:translate3d(0,-2px,0)];
  }
  .logo-position {
    @apply relative top-1;
  }
  .desk-top {
    @apply hidden md:inline-block;
  }
  .nav-link {
    @apply max-md:text-main-100 group-hover:opacity-100 transition-opacity duration-300 ease-in group-hover:font-bold text-sm;
  }
  .active-link {
    @apply font-bold opacity-100;
  }
  .inactive-link {
    @apply font-medium opacity-80;
  }
  .header-default {
    @apply md:h-auto md:bg-customSlate-50;
  }
  .header-full-screen {
    @apply md:h-screen md:bg-transparent;
  }
  .navbar-layout {
    @apply relative md:container max-md:bg-white z-1 px-1;
  }
  .navbar-default {
    @apply md:bg-customSlate-50;
  }
  .navbar-on-hero {
    @apply md:bg-transparent;
  }
}

@layer base {
  input:focus,
  textarea:focus {
    outline: none;
  }
}
